html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自己來的部分 */
*,*::before,*::after{
  box-sizing: border-box;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
}
.container{
  width: 1200px;
  background: #fff;
  margin: 20px auto;
  border:2px solid #e7eeea;
}
h2{
  font-size: 80px;
}
h3{
  font-size: 28px;
}
h2,h3{
  font-weight: bold;
  color:#37523d;
  line-height: 1.5;
}
p,li,a{
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  
}
a{
  text-decoration: none;
  color: #37523d;
}
a:hover{
  color:orange;
}
img{
  object-fit:scale-down;
}
/* 1 */
.content{
  background: #364e3b;
  display: flex;
  justify-content: space-between;
}
.cont-list{
  display: flex;
  flex-direction:column;
  border: 3px solid #e7eeea;
  border-radius:10px
  
}
.cont-list:nth-child(2){
  margin: 0 20px;
}
.up{
  background: #e7eeea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:90px 60px
}
.down{
  background:#fff;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 40px 30px 90px 30px;
}
.down p{
  margin-top: 40px;
}
/* 2 */
.box2{
  display: flex;
  background: #fff;
  justify-content: center;
  align-content: center;
}
.left2,.right2{
  margin: 0 10px;
  border-radius:10px
}
.left2{
  padding: 150px;
  background: #e7eeea;
}
.right2{
  padding:130px 40px;
  background: #e7eeea;
}
.right2 p,.right2 h3{
  margin-top: 40px;
}
/* 3 */
.box3{
  display: flex;
  justify-content: space-between;
  align-content:center;
  
}
.left3{
  padding: 60px 15px;
  background: #e7eeea;
}
.menu3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu3>li{
  padding: 15px 0;
}
.right3{
  padding: 70px 90px 0;
  display: flex;
  flex-direction:column;
}
.right3>h3{
  margin-bottom: 15px;
}
.right3>p:nth-child(3){
  margin: 35px 0;
}
.list3{
  display: flex;
  flex-wrap:wrap;
}
.list3 li{
  margin: 4px;
}
/* 4 */
.box{
  display: flex;
  flex-direction: column;
}
.up4{
  display: flex;
  justify-content: space-between;
  background: #e7eeea;
  padding: 25px 45px;
}
.menu4{
  display: flex;
  align-items: center;
}
.menu4>li{
  margin: 0 15px;
}
.down4{
  display: flex;
  flex-direction: column;
  padding: 80px 340px;
}
.down4 p{
  margin: 25px 0;
}
/* 5 */
.box5{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box5 h3{
  font-size: 24px;
}
.box5 p{
  font-size: 16px;
}
.top5,.mid5,.bot5{
  background: #e7eeea;
  padding: 30px;
}
.mid5{
  margin: 50px 0;
}
.top5{
  display: flex;
}
.top5 li{
  display: flex;
  align-items: center;
}
.top5 li:nth-child(2){
  margin: 0 50px;
}
.top5>li>img{
  align-self: flex-start;
  width: 55px;
  margin-right: 12px;
}
.sm5 p{
  margin-top: 24px;
}
.sm5 h3{
  padding-top: 10px;
}
.mid5{
  display: flex;
  text-align: center;
}
.mid5>li:nth-child(2){
  margin: 0 60px;
}
.mid5 h3{
  margin: 14px 0 22px;
}
.bot5>li{
  display: flex;
  margin: 30px;
}
.bg5{
  align-self: center;
  margin: 0 10px;
}
.bg5>h3{
  margin-bottom: 22px;
}
.reverse{
  flex-direction:row-reverse;
}
.container6{
  background: #37523d;
  
}
.box6{
  margin: 13px;
}
.top6{
  background: #e7eeea;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.top6 a{
  align-self: center;
}
.down6{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 30px 60px;
}
.down6 img{
  margin-right: 52px;
}
.content6{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content6 p{
  font-size: 16px;
  margin-bottom: 150px;
}
.down6 a{
  color: #556c5a;
  font-size: 28px;
  margin-right: 12px;
  text-decoration:underline;
}
.down6 a:hover{
  background: #acd2fe;
}
.social6 li{
  display: inline;
}
.box7{
  margin: 0 auto;
}
.top7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e7eeea;
  padding: 300px 0;
}
.top7 h1{
  font-size: 36px;
  color: #37523d;
  font-weight: bold;
  margin-top: 34px;
}
.bottom7{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

}
.menu7{
  display: flex;
}
.menu7 a{
  color: #000;
  margin-right: 24px;
  font-size: 16px;
}
.menu7 a:hover{
  color: orange;
}

.box8{
  margin: 10px auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #fff;
}
.left8{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 170px;
  background: #b3d4d1;
}
.right8{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box9{
  width: 400px;
  margin: 0 auto;
  color: #829886;
}
.top9{
  border: 1px solid #e7eeea;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.bottom9{
  border: 1px solid #e7eeea;
  border-radius: 0 0 5px 5px;
}
.orderList9{
  border:1px solid #e7eeea;
  border-radius: 0 0 5px 5px;
  background: #e7eeea;
  text-align: center;
  padding: 20px 100px;
}
.order-content9{
  padding: 50px;
}
.sm9,.delivery9,.total9{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.delivery9 li:nth-child(1){
  font-size: 24px;
}
.total9 li{
  font-size: 30px;
}

.cart9{
  background: #e7eeea;
  padding: 20px 105px;
  text-align: center;
}
.product9{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.product9 img{
  margin:10px 20px
}
.box10{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left10{
  margin-right: 20px;
  border: 1px solid #e7eeea;
  text-align: center;
  align-self: start;
}
.left10>li{
  white-space: nowrap;
  padding: 25px 105px;
}
.left10 li:hover{
  background: #e7eeea;
}
.left10>li:nth-child(1){
  color: #fff;
  background: #36523d;
}
.right10{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product10{
  text-align: center;
  border: 1px solid #e7eeea;
  margin-bottom: 16px;
}
.product10>ul{
  display: flex;
  justify-content: center;
}
.product10>ul>li:nth-child(1){
  width: 136px;
}
.product10>ul>li{
  border: 1px solid #e7eeea;
  padding: 22px 40px;
  white-space: nowrap;
}

.btn10{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7eeea;
  padding: 32px 87px;
}